//file de teste de codeWriter

// push constant
push constant 10
push constant 20
add

push constant 5
sub

neg

// local
push constant 111
pop local 0
push local 0

// argument
push constant 222
pop argument 1
push argument 1

// this
push constant 333
pop this 2
push this 2

// that
push constant 444
pop that 3
push that 3

// mais uma operação aritmética
add
add
add